#container {

	margin:0 auto;
	background-image: url('images/collage.jpg')
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: white;

}

}
body {
	margin:0 auto;
	color: white;
}

ul {
	color: white;
    list-style: none;
}


