#container {
	width:1080px;
	margin:0 auto;
	background-image: url('images/collage.jpg');
	font-family: 'Open Sans', sans-serif;
	color: white;

}

h1 {
	font-size: 16px;

}

body {
	margin:0 auto;
	font-size: 10px;
	
}

ul {
	text-decoration: none;
    list-style-type: none;
    color: white;
}

 
