body {
	width:960px;
	color: #333333;
	font-family: "skolar-sans-latin";
	font-size: 14px;
}

#title {
	display: inline-block !important;
    margin-top: 100px;
    margin-left: 60px;
}


h1 {
    margin-left: 10px;
    color: #2BBEB5;
    font-size: 1.3em;
}

h2{
	font-family: "skolar-sans-latin";
    margin-left: 60px;
    margin-bottom:7px;
    display: inline-block !important;
    color: #000;
    font-size: 16px;
    position:relative;
}

h3 {font-size: 1em;
	color: #2BBEB5;
	font-weight: normal;
}

h4 {
	color: #000;
	font-size: 1em;	
	font-weight: bold;
}

h5 {
	color: #fff;
	font-size: 1em;	
	font-weight: normal;
}

p{  line-height: 1.9em;
    margin: 0 0 0.5em;
}


#logo {
 	margin-top: 80px;
 	width: 900px;
 	margin-bottom: -30px;
 	margin-left: 70px;
 	
 }

#container {
    width: 960px !important;
    max-width: 100% !important;
    margin-left: 350px;
    padding-top: 0px;
}



#header-wrapper {
    width: 780px;
    margin-top: 140px;
    padding: 4px;
    margin-left: 415px;
    background: #FFFFFF;
    border-bottom: solid 3px #2BBEB5;
}
	
header {
	background: url('images/leaves.jpg') top left repeat-x;
	 background-position: 15px 10px; 
	border: none;
	padding: 0px 0px;
	margin:0;
	/* FOR FULL WIDTH SITE */
	width: 1100px;
	margin: 0px auto;
}

/* phone number */
/*#header-area {
	float: right;
	text-align: right;
	margin-top: -40px;
	width: 140px;
}

#header-area a {
	text-decoration: none;
}

#header-area p.phone {
	margin-bottom: 8px;
}*/


nav {
	margin-top: 40px;
	display: inline-block !important;
	width:10px;
	text-align: left; /* CHANGE TO LEFT OR RIGHT FOR MENU ALIGNMENT ! */ 	
	
}

#scale2{
    width: 94px;
    color: #38BEB4;
    margin-left: 60px;
    font-family: "skolar-sans-latin";
    font-size:14px;

}

/*subnav*/

#overview {
	margin-left: 23px;
    text-align: left; /* CHANGE TO LEFT OR RIGHT FOR MENU ALIGNMENT ! */ 	
	
}


.sf-menu {
	line-height: 0;

	/* CENTERED FOR FULL WIDTH SITE */
	margin: 0px auto;
	display: inline-block; /* TO ALLOW FOR MENU ALIGNMENT ! */
}


/* BORDER TICKS
.sf-menu li {
	 border-right: 2px solid #fff; 
}

.sf-menu li:last-child {
	border-right: 0;
}
	*/


#nav ul ul{
  display: none;
  margin-left: 25px;
}


nav ul {list-style-type: none !important;}

nav ul li a {
	font-family: "skolar-sans-latin";
	line-height:2.0em;
	color: #000;
	text-transform: none;
	font-size: 14px;
	font-weight: normal;
	text-shadow: none !important;
	padding: 0.5em 1.4em !important;
	text-transform: none;
	text-decoration:none;
	list-style-type: none !important;
}

nav ul li a:hover {
	font-weight: normal;
	color: #BDBDBD	;
}


.sf-menu li a.nav-last {
    border-right: 0px none !important;
    padding-right: 0px !important;
}

#feature-wrapper {
	width: 100%;
	padding: 0;
	margin:	0;
	background-color: #F5F5F5;
}
#feature {
	background-color: #F5F5F5;
	width: 960px;
	padding: 20px 0;
}

#wrapper {
	width: 100% !important;
	background-color: #F5F5F5;
	padding: 20px 0 !important;
}

#wrapper .row {
	/* CENTERED FOR FULL WIDTH SITE */
	padding: 20px 0;
	width: 960px;
	margin: 0px auto !important;
}

#wrapper a {
	color: #D9E3A3;
	text-decoration: none;
}

#wrapper a:hover{ color: #BECC70
}

footer {
	width: 1400px;
    margin-top: 500px;
    height: 400px;
   /* background-color: #ECE6E2;*/
    /* padding: 20px; */
    color: #FFFFFF;
    border: none;
}
footer a{ text-decoration: none;
	color: #FFFFFF;
}
footer a:hover {
	color: #ffffff;
	opacity: 0.7;
}

footer .row:first-child {
	/*display: none !important; */
}


footer .row {
	/* FOR FULL WIDTH SITE */
	width: 960px !important;
	margin: 20px auto !important;
}

p  {
	padding-right: 70px;
    padding-left: 75px;
    float: left;
    margin: 0 0 0.5em;
    font-family: "skolar-sans-latin";
    font-size: 14px;
    width: 320px;
    line-height: 1.9em;
    margin-right: 2px;
}


/* CONTACT FORM normal (table) layout */
td.question {
	width: 120px;
	padding-top: 10px;
}

#msg {
	font-weight: bold;
	padding-bottom: 20px;
	
}

/* gallery options fix !! */
#displayOptions {
	float: none !important;
}

#galleryOptions td.right, #galleryOptions td.right {
	float:none !important;
}

#fsID {
	float: right;
}

/* CONTACT FORM */
.miniSurveyView #msg {
	background: none !important;
	color: #444 !important;
	padding: 15px !important;
	border: 1px solid #999;
	margin: 8px 0px 28px 0px !important;
	border-radius: 5px !important;
}

#items {
    margin-left: 60px;
    width: 30px;
}

.tooltip {
	display:none;
	position:absolute;
	border:none;
	background-color:#fff;
	border-radius:2px;
	padding:10px;
	color:#2BBEB5;
	font-family: "skolar-sans-latin";
    font-size: 14px;
	width: 240px;
}

/*SUBNAV*/
.nav .button-dropdown {
    position: relative;
}


.nav li a:hover, .nav li a.dropdown-toggle.active {
    background-color: #289dcc;
    color: #fff;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
    color: #fff;
}

.nav li .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
}

.nav li .dropdown-menu.active {
    display: block;
}

.nav li .dropdown-menu a {
    width: 150px;
}