

body {
  background: none;
}

.femme1 {
  width: 400px;
  height: 200px;
  background: url('images/femme1.jpg');
}

/* Media Queries */

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {

  h1 { font-size: 50px; }

  .femme1 {
 background: url('images/femme2.jpg'); 
}


@media screen and (max-width: 600px) {

  body {  }
  h1 { font-size: 20px; }

  .femme1 {
  background: url('images/femme3.jpg');
}


}



@media screen and (max-width: 480px) {
  
  body { }
  h1 { font-size: 10px; }
  div { display: block; }


.femme1 {
  background: url('images/femme4.jpg');
}

}


@media screen and (max-width: 320px) {

  body {}
  h1 { font-size: 8px; }

  .femme1 {
  background: url('images/femme5.jpg');
}

}

