

body {
  background: red;
}

.femme1 {
  width: 190px;
  height: 135px;
  background: url('images/femme1.jpg');
}

/* Media Queries */

@media screen and (max-width: 1024px) {

  body { background: url('images/femme1.jpg'); }

@media screen and (max-width: 768px) {

  body { background: url('images/femme2.jpg'); }
  h1 { font-size: 50px; }

}

.horse {
  background:;
}


@media screen and (max-width: 600px) {

  body { background: url('images/femme3.jpg'); }
  h1 { font-size: 20px; }

}

.horse {
  background:;
}


@media screen and (max-width: 480px) {
  
  body { background: url('images/femme4.jpg'); }
  h1 { font-size: 10px; }
  div { display: block; }

}

@media screen and (max-width: 320px) {

  body { background: url('images/femme5.jpg');}
  h1 { font-size: 8px; }

}