* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

.canvas.one {
	background: #DA961B;
}


.object {
	position:absolute;
}

/*SPHERE*/

.sphere {
	border-radius:50%;
	background: white;
	height: 300px;
	width: 300px;
	bottom: 160px;
	left:480px;

}

/* Squash */

.squash {
	-ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
	background: #FF6B00;
	height: 151px;
	width: 151px;
	border-radius:44%;
	bottom:180px;
	left:200px;
}

.water-glass-container {
	height: 225px;
	width:100px;
	background:none;
	left: 450px;
	bottom: 120px;
}

.water-glass-container .glass {
	border-top: 225px solid rgba(242, 214, 163, 0.54);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	height: 0;
	width: 100px;
	/*opacity:0.4;*/

}

.water-glass-container .top{
	width:100px;
	height: 25px;
	border-radius: 50%;
	background-color: rgba(247, 231, 202, 0.9);
	border: 1px solid white;
	top:-12px;

}

.water-glass-container .bottom{
	width:85px;
	height: 25px;
	border-radius: 50%;
	background:rgba(239, 219, 183, 0.97);
	bottom:-9px;
	left:8px;
}

.water-glass-container .water-level{
		width: 98px;
		height: 24px;
		border-radius: 50%;
		background:rgba(245, 231, 207, 0.62);
		bottom:66.6666%;
}


.canvas.two {
	background: #FFC000;
}

.object {
	position:absolute;
}

.vase-container {
	height: 380px;
	width:120px;
	background:none;
	left: 195px;
	bottom: 95px;
	
}

.vase-container .glass {
	border-radius: 15px;
	border-bottom: 225px solid white;
	border-left:25px solid transparent;
	border-right:20px solid transparent;
	width: 120px;
	margin-top:150px;
	/*opacity:0.4;*/
}

.vase-container .stems {
	border-radius: 600px 40px 500px 5px;
    height: 90%;
    border-left: 5px solid green;
    margin-left: 30px;
    float: left;
}

.vase-container .stem-one {
	position:relative;
	border-radius: 400px 40px 500px 5px;
    height: 90%;
    border-left: 5px solid #02BC02;
    margin-left: 34px;
}

.vase-container .stem-one:after {
    content: '';
    height: 0px;
    width: 100%;
    border-left: 5px dotted #02BC02;
    position: absolute;
    left: 0px;
    right: 0px; 
  }

  .vase-container .stem-two {
    height: 90%;
    border-left: 5px solid green;
    margin-left: 30px;

}
  	
