* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

.canvas.one {
	background: #DA961B;
}


.object {
	position:absolute;
}

/*SPHERE*/

.sphere {
	background: white;
	height: 151px;
	width: 151px;
	border-radius: 50%;
	margin: 20px 40px 20px 40px;
}

