#container{

}

#nav {
    margin:25px;
    float:right;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

ul {
    color: #E71393;
    text-decoration: none;
    list-style-type: none;
    margin: 30px;
    padding: 10px;
}

#nav ul a{
    color: #E71393;
    text-align:center;
    text-decoration: none;
    display: block;
    border: solid 2px;
    padding:10px;

}

#aplhabet{
    margin:40px;
}

#a{

}

.a-stemleft{
    border-radius: 25px;
    position: relative;
    top: 105px;
    left: 8px;
    width: 6px;
    height: 60px;
    border-style: solid;
    border-width: 0 16px0 16px; 
    border-color: #2601FF;
    
}


.a-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 131px;
    left: 38px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;
}


.a-vertical2{
    top: 76px;
    left: 38px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.a-stemright{
    border-radius: 25px;
    position: relative;
    top: 14px;
    left: 51px;
    width: 6px;
    height: 76px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}

.a-stemright:hover {
      border-color: #E71393;

/*
  -webkit-transform: rotate(90deg);
  transform-origin: 0 90px;*/

}

/*A finished*/


.b-stemleft{
    border-radius: 25px;
    position: relative;
    top: -122px;
    left: 85px;
    width: 6px;
    height: 140px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.b-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 131px;
    left: 114px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}



.b-vertical2{
    top: 71px;
    left: 115px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;
}

.b-stemright{
    border-radius: 25px;
    position: relative;
    top: -219px;
    left: 128px;
    width: 6px;
    height: 66px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


/*B finished*/



.c-stemleft{
    border-radius: 25px;
    position: relative;
    top: -261px;
    left: 164px;
    width: 6px;
    height: 60px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.c-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 130px;
    left: 194px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;

}

.c-vertical2{
    top: 76px;
    left: 194px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;
}


/*C finished*/

#d {
    margin-left:-10px;
}

.d-stemleft{
    border-radius: 25px;
    position: relative;
    top: -412px;
    left: 291px;
    width: 6px;
    height: 120px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.d-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 131px;
    left: 268px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.d-vertical2{
    top: 71px;
    left: 268px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
 border-color: #E71393;
    border-style: dotted;

}

.d-stemright{
    border-radius: 25px;
    position: relative;
    top: -458px;
    left: 248px;
    width: 6px;
    height: 66px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}

/*D finished*/


.e-stemleft{
    border-radius: 25px;
    position: relative;
    top: -525px;
    left: 318px;
    width: 6px;
    height: 60px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.e-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 130px;
    left: 348px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;

}

.e-vertical2{
    top: 76px;
    left: 348px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
   border-color: #E71393;
    border-style: dotted;

}

.e-vertical3{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 105px;
    left: 348px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
   border-color: #E71393;
    border-style: dotted;

}

.e-stemright{
    border-radius: 25px;
    position: relative;
    top: -615px;
    left: 362px;
    width: 6px;
    height: 34px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


/*E finished*/

#f {
    margin-left:330px;
    margin-top: -588px;

}

.f-stemleft{
    border-radius: 25px;
    position: relative;
    top: -122px;
    left: 85px;
    width: 6px;
    height: 140px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.f-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: -3px;
    left: 445px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;

}

.f-vertical2{
    top: 60px;
    left: 423px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 48px;
    border-width: 13px15px13px0;
   border-color: #E71393;
    border-style: dotted;

}


/*F finished*/

#g {
    margin-left:-10px;
}

.g-stemleft{
    border-radius: 25px;
    position: relative;
    top: -219px;
    left: 512px;
    width: 6px;
    height: 120px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.g-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 131px;
    left: 488px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
  border-color: #E71393;
    border-style: dotted;
}

.g-vertical2{
    top: 71px;
    left: 488px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
   border-color: #E71393;
    border-style: dotted;

}

.g-vertical3{
    top: 185px;
    left: 488px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.g-stemleft2{
    border-radius: 25px;
    position: relative;
    top: -319px;
    left: 468px;
    width: 6px;
    height: 65px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}

/*G FINISHED*/

#h {
    margin-top:-344px;
    margin-left:460px;
}

.h-stemleft{
    border-radius: 25px;
    position: relative;
    top: -122px;
    left: 85px;
    width: 6px;
    height: 140px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.h-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 131px;
    left: 114px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.h-vertical2{
    top: 70px;
    left: 574px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.h-stemright{
    border-radius: 25px;
    position: relative;
    top: -219px;
    left: 128px;
    width: 6px;
    height: 66px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


/*H finished*/

.i-stemright{
    border-radius: 25px;
    position: relative;
    top: -398px;
    left: 624px;
    width: 6px;
    height: 18px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.i-top{
    border-radius: 25px;
    position: relative;
    top: -277px;
    left: 624px;
    width: 6px;
    height: 76px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}




/*I finished*/

.j-stemright{
    border-radius: 25px;
    position: relative;
    top: -537px;
    left: 664px;
    width: 6px;
    height: 18px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.j-top{
    border-radius: 25px;
    position: relative;
    top: -383px;
    left: 664px;
    width: 6px;
    height: 108px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}

.j-vertical {
    top: 185px;
    left: 651px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;

}

#K {

}

.k-stemleft{
    border-radius: 25px;
    position: relative;
    top: -584px;
    left: 700px;
    width: 6px;
    height: 140px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.k-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 131px;
    left: 114px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.k-vertical2{
    top: 71px;
    left: 731px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;

}

.k-stemright{
    transform: rotate(-40deg);
    border-radius: 25px;
    position: relative;
    top: -663px;
    left: 721px;
    width: 6px;
    height: 66px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
     border-color: #E71393;
    border-style: dotted;
}


/*K finished*/

.l-stemleft{
    border-radius: 25px;
    position: relative;
    top: -802px;
    left: 777px;
    width: 6px;
    height: 140px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


/*L finished*/

#M {
    top: -802px;
}


.m-stemleft{
    border-radius: 25px;
    position: relative;
    top: -908px;
    left: 864px;
    width: 6px;
    height: 82px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.m-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 131px;
    left: 38px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #2601FF;
    border-style: solid;

}

.m-vertical1{
    top: 61px;
    left: 850px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;

}

.m-stemright{
    border-radius: 25px;
    position: relative;
    top: -971px;
    left: 820px;
    width: 6px;
    height: 76px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}

.m-vertical2{
    top: 45px;
    left: 895px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;

}

.m-stemright2{
    left: 907px;
    border-radius: 25px;
    position: relative;
    top: -1094px;
    width: 6px;
    height: 82px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}

/*M finished*/

#n {
    margin-top: -260px;
    margin-left: 131px;

}


.n-stemright{
    border-radius: 25px;
    position: relative;
    top: -908px;
    left: 864px;
    width: 6px;
    height: 82px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.n-vertical{
    top: 59px;
    left: 981px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.n-stemleft{
    border-radius: 25px;
    position: relative;
    top: -971px;
    left: 820px;
    width: 6px;
    height: 76px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}
/*N finished*/

#o {
    margin-top: -170px;
    margin-left: 215px ;

}


.o-stemright{
    border-radius: 25px;
    position: relative;
    top: -908px;
    left: 864px;
    width: 6px;
    height: 76px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.o-vertical{
    top: 59px;
    left: 1065px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;
}

.o-vertical2{
    top: 129px;
    left: 1065px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.o-stemleft{
    border-radius: 25px;
    position: relative;
    top: -965px;
    left: 820px;
    width: 6px;
    height: 76px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}

/*O finis*/

/*#zweite-Spalte {

}*/

/*zweite-Spalte angefangen*/

#p {    
    margin-top: 90px;
    margin-left: -809px;
}

.p-stemright{
    border-radius: 25px;
    position: relative;
    top: -979px;
    left: 864px;
    width: 6px;
    height: 60px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.p-vertical{
    top: 260px;
    left: 41px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.p-vertical2{
    top: 314px;
    left: 41px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.p-stemleft{
    border-radius: 25px;
    position: relative;
    top: -1020px;
    left: 820px;
    width: 6px;
    height: 120px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


/*P fertig*/

#q {    
    margin-top: -192px;
    margin-left: -730px;
}

.q-stemright{
    border-radius: 25px;
    position: relative;
    top: -979px;
    left: 865px;
    width: 6px;
    height: 140px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.q-vertical{
    top: 260px;
    left: 120px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.q-vertical2{
   top: 314px;
    left: 120px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.q-stemleft{
    border-radius: 25px;
    position: relative;
    top: -1100px;
    left: 820px;
    width: 6px;
    height: 60px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}

/*Q fertig*/

#r {    
    margin-top: -219px;
    margin-left: -643px;
}

/*.r-stemright{
    border-radius: 25px;
    position: relative;
    top: -979px;
    left: 865px;
    width: 6px;
    height: 140px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}*/


.r-vertical{
    top: 253px;
    left: 207px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;

}

.r-vertical2{
   top: 314px;
    left: 120px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
   border-color: #E71393;
    border-style: dotted;

}

.r-stemleft{
    border-radius: 25px;
    position: relative;
    top: -954px;
    left: 820px;
    width: 6px;
    height: 60px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
}

/*R fertig*/

#s {
    margin-top: -498px;
    margin-left: -63px;
}

.s-stemleft{
    border-radius: 25px;
    position: relative;
    top: -533px;
    left: 315px;
    width: 6px;
    height: 35px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.s-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 242px;
    left: 282px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;

}

.s-vertical2{
    top: 305px;
    left: 281px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.s-vertical3{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 271px;
    left: 282px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.s-stemright{
    border-radius: 25px;
    position: relative;
    top: -570px;
    left: 358px;
    width: 6px;
    height: 40px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}

/*S finished*/

#t {
    margin-top: -568px;
    margin-left: 272px;

}

.t-stemleft{
    border-radius: 25px;
    position: relative;
    top: -122px;
    left: 85px;
    width: 6px;
    height: 135px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.t-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
     top: 235px;
     left: 364px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

/*T fertig*/

#u {
    margin-top: 190px;
    margin-left: 165px;
}

.u-stemleft{
    border-radius: 25px;
    position: relative;
    top: -411px;
    left: 292px;
    width: 6px;
    height: 65px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.u-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 298px;
    left: 444px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;
}


.u-stemright{
    border-radius: 25px;
    position: relative;
    top: -458px;
    left: 250px;
    width: 6px;
    height: 66px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


/*U fertig*/

#v {
    margin-top: -145px;
    margin-left: 258px;
}


.v-stemleft{
    border-radius: 25px;
    position: relative;
    top: -420px;
    left: 292px;
    width: 6px;
    height: 50px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.v-vertical{
    border-radius: 25px;
    transform: rotate(40deg);
    top: 277px;
    left: 537px;
    position: absolute;
    content: '';
    width: 6px;
    height: 70px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;
}


.v-stemright{
    border-radius: 25px;
    position: relative;
    top: -443px;
    left: 250px;
    width: 6px;
    height: 66px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}

/*V fertig*/

#w {
    margin-top: -126px;
    margin-left: 344px;
}

.w-stemleft{
    border-radius: 25px;
    position: relative;
    top: -411px;
    left: 292px;
    width: 6px;
    height: 68px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.w-vertical{
    border-radius: 25px;
    transform: rotate(50deg);
    top: 291px;
    left: 623px;
    position: absolute;
    content: '';
    width: 6px;
    height: 60px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}


.w-stemright{
    border-radius: 25px;
    position: relative;
    top: -458px;
    left: 250px;
    width: 6px;
    height: 62px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.w-stemleft2{
    border-radius: 25px;
    position: relative;
    top: -579px;
    left: 334px;
    width: 6px;
    height: 59px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.w-vertical2{
    border-radius: 25px;
    transform: rotate(50deg);
    top: 270px;
    left: 665px;
    position: absolute;
    content: '';
    width: 6px;
    height: 60px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

/*w fertig*/

#x {

}

.x-vertical{
      border-radius: 25px;
    transform: rotate(30deg);
    top: 242px;
    left: 737px;
    position: absolute;
    content: '';
    width: 6px;
    height: 100px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.x-vertical2{
     border-radius: 25px;
    transform: rotate(-40deg);
    top: 255px;
    left: 738px;
    position: absolute;
    content: '';
    width: 6px;
    height: 75px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

/*Y fertig*/

#y {
    margin-left: 325px;
    margin-top: -402px;
}

.y-stemleft{
    border-radius: 25px;
    position: relative;
    top: -219px;
    left: 512px;
    width: 6px;
    height: 120px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.y-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 350px;
    left: 823px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.y-vertical2{
    top: 296px;
    left: 823px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.y-vertical3{
    top: 185px;
    left: 488px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.y-stemleft2{
    border-radius: 25px;
    position: relative;
    top: -319px;
    left: 468px;
    width: 6px;
    height: 65px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}

/*z fertig*/

#z {
    margin-top: 149px;
    margin-left: 563px;

}
.z-stemleft{
    border-radius: 25px;
    position: relative;
    top: -502px;
    left: 315px;
    width: 6px;
    height: 35px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}


.z-vertical{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 242px;
    left: 908px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
    border-color: #E71393;
    border-style: dotted;

}

.z-vertical2{
    top: 305px;
    left: 908px;
    border-radius: 25px;
    transform: rotate(60deg);
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
     border-color: #E71393;
    border-style: dotted;

}

.z-vertical3{
    border-radius: 25px;
    transform: rotate(60deg);
    top: 272px;
    left: 908px;
    position: absolute;
    content: '';
    width: 6px;
    height: 55px;
    border-width: 13px15px13px0;
   border-color: #E71393;
    border-style: dotted;

}

.z-stemright{
    border-radius: 25px;
    position: relative;
    top: -599px;
    left: 358px;
    width: 6px;
    height: 35px;
    border-width: 0 16px0 16px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 16px0 16px;
    border-color: #2601FF;
    border-style: solid;
}





