
#container{
	display:block;
    position:absolute;
	background-image: url("alphabet.png");
	width:1400px;
	height:860px;
}

#nav {
    margin:25px;
    float:right;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

ul {
    color: #E71393;
    text-decoration: none;
    list-style-type: none;
    margin: 30px;
    padding: 10px;
}

#nav ul a{
	background-color:#FFFFFF;
    color: #E71393;
    text-align:center;
    text-decoration: none;
    display: block;
    border: solid 3px;
    padding:10px;

}
