#container{
	width: 260px;
	height:380px;
	margin:0 auto;
	margin-top:80px;
	border:40px solid #E4D6D2;
}

#box {
	position: relative;
    width: 50px;
    height: 300px;
    margin: 0 auto;
}

#column {
	float: left;
    border-left: 1px solid #8E787D;
    border-right: 2px solid #322326;
}

.block {
	width: 0.1px;
    margin: 0;
    border-right: 1px solid #8E787D;
    border-left: 2px solid #322326;
    float: left;
}

.border {
    width: 20px;
    height: 380px;
    float: left;
}

#text {
	position: absolute;
    left: 630px;
    top: 75px;
    z-index: 2;
    color: #FFFFFF;
}
