

#container {
    padding-top: 40px;
    margin-right: 300px;
    width: 440px;

    }



/*#border {
     width:300px;
    /*width:1200px;*/
    /* display: inline-block; */
   /* color: #D7D4DB;
    width: .01px;
    border: 8px solid white;
    margin: 0 auto;
    float: right;
}*/

#text{
    float:right;
   width:400px;
}

#line1 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}

#line2 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line3 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line4 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line5 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line6 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line7 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line8 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line9 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}

#line10 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line11 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line12 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line13 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}

#line14 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line15 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line16 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line17 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line18 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}
#line19 {
        position: center;
    /* width: 100px; */
    position: absolute;
    left: 420px;
    /* top: 90px; */
    /* z-index: 2; */
    color: #E6004F;
    letter-spacing: 40px;
}

