#container {
    width: 261px;
    margin: 220px;
    padding: 0px;
}

#column {
    padding: 0px;
    margin: 260px;
    width: 400px;
    max-height: 900px;
}

.block {
    width: 67px;
    height: -1px;
    margin: 15px;
    float: left;
    border-top: 40px solid #E4D6D2;
    border-bottom: 40px solid #AEB6C2;
}

.border {
       text-transform: upppercase;
    letter-spacing: inherit;
    word-spacing: 20em;
    position: center;
    text-align: center;
    color: #AE9188;
    width: 105px;
    height: 100px;
    margin: -17px;
    float: left;
}