#container {
	width: 1526px;
    margin: 0 auto;
	margin:0 auto;
}

#column {
    position: relative;
    padding: 0;

}

.block {
	/* width: 420px; */
    height: 141px;
    border-bottom: 5px solid #A7C8CD;
    /* float: right; */
}

.border {
    text-align: center;
    width: 100px;
    height:100px;
    margin:48px;
    border: 2px hidden #ECB2AA;
    float: left;
    color:#87AFB4;
}

	/*width: 1300px;
    height: 141px;
    border: 14px solid black;
    /* float: right; */