
#container {
    border: solid 10px;
    border-color: rgb(160, 7, 45);
    padding-top: 40px;
    margin-right: 300px;
    width: 0px;
    margin: 0 auto;

    }

#container2 {
    border: solid 10px;
    border-color: rgb(160, 7, 45);
    padding-top: 40px;
    margin-right: 300px;
    width: 0px;
    margin: 0 auto;

    }


#container3 {
    border: solid 10px;
    border-color: rgb(160, 7, 45);
    padding-top: 40px;
    margin-right: 300px;
    width: 0px;
    margin: 0 auto;

    }


#container4 {
    border: solid 10px;
    border-color: rgb(160, 7, 45);
    padding-top: 40px;
    margin-right: 300px;
    width: 0px;
    margin: 0 auto;

    }


#container5 {
    border: solid 10px;
    border-color: rgb(160, 7, 45);
    padding-top: 40px;
    margin-right: 300px;
    width: 0px;
    margin: 0 auto;

    }

#container6 {
    border: solid 10px;
    border-color: rgb(160, 7, 45);
    padding-top: 40px;
    margin-right: 300px;
    width: 0px;
    margin: 0 auto;

    }

#container7 {
    border: solid 10px;
    border-color: rgb(160, 7, 45);
    padding-top: 40px;
    margin-right: 300px;
    width: 0px;
    margin: 0 auto;

    }


#container8 {
    border: solid 10px;
    border-color: rgb(160, 7, 45);
    padding-top: 40px;
    margin-right: 300px;
    width: 0px;
    margin: 0 auto;

    }

#container9 {
    border: solid 10px;
    border-color: rgb(160, 7, 45);
    padding-top: 40px;
    margin-right: 300px;
    width: 0px;
    margin: 0 auto;

    }

#container10 {
    border: solid 10px;
    border-color: rgb(160, 7, 45);
    padding-top: 40px;
    margin-right: 300px;
    width: 0px;
    margin: 0 auto;

    }

#container {
    border: solid 10px;
    border-color: rgb(160, 7, 45);
    padding-top: 40px;
    margin-right: 300px;
    width: 0px;
    margin: 0 auto;

    }

/*#border {
     width:300px;
    /*width:1200px;*/
    /* display: inline-block; */
   /* color: #D7D4DB;
    width: .01px;
    border: 8px solid white;
    margin: 0 auto;
    float: right;
}*/

#text{
   width:400px;
}

#line1 {
    position: center;
    width:100px;
    position:absolute;
    left: 420px;
    top: 90px;
    z-index: 2;
    color: #E6004F;
    letter-spacing: 40px;
}

#line2 {
    width:100px;
    position:absolute;
    left: 800px;
    top: 90px;
    z-index: 2;

 color:#E6004F;   letter-spacing: 40px;
}

#line3 {
    width:100px;
    position:absolute;
    left: 1200px;
    top: 90px;
    z-index: 2;
        
 color:#E6004F;   letter-spacing: 40px;
}

#line4 {
    width: 100px;
    position:absolute;
    left: 1400px;
    top: 90px;
    z-index: 2;
        
 color:#E6004F;   letter-spacing: 40px;
}

#line5 {
    width:100px;
    position:center;
    left: 420px;
    top: 120px;
    z-index: 2;
        
 color:#E6004F;   letter-spacing: 40px;
}

#line6 {
    width:100px;
    position:absolute;
    left: 1000px;
    top: 120px;
    z-index: 2;
        
 color:#E6004F;   letter-spacing: 40px;
}

#line7 {
    width:100px;
    position:absolute;
    left: 1400px;
    top: 120px;
    z-index: 2;
        
 color:#E6004F;   letter-spacing: 40px;
}



#line8 {
    width:100px;
    position:center;
    display:inline-block;
    left: 420px;
    top: 140px;
    z-index: 2;
       
 color:#E6004F;   letter-spacing: 40px;
}

#line9 {
    width:100px;
    position:absolute;
    left: 800px;
    top: 140px;
    z-index: 2;
        color: #E6004F;
     color: #E6004F;
 color:#E6004F;   letter-spacing: 40px;
}

#line10{
    width:100px;
    position:absolute;
    left: 1200px;
    top: 140px;
    z-index: 2;
       
 color:#E6004F;   letter-spacing: 40px;
}

#line11 {
    width:100px;
    position:absolute;
    left: 1400px;
    top: 140px;
    z-index: 2;
        
 color:#E6004F;   letter-spacing: 40px;
}

#line12 {
    width:100px;
    position:absolute;
    left: 1600px;
    top: 160px;
    z-index: 2;
        
 color:#E6004F;   letter-spacing: 40px;
}


#line13 {
    width:100px;
    position:center;
    left: 420px;
    top: 160px;
    z-index: 2;
       
 color:#E6004F;   letter-spacing: 40px;
}

#line14 {
    position:absolute;
    left: 800px;
    top: 160px;
    z-index: 2;
        
 color:#E6004F;   letter-spacing: 40px;
}

#line15 {
    position:absolute;
    left: 1200px;
    top: 160px;
    z-index: 2;
        
 color:#E6004F;   letter-spacing: 40px;
}

#line16 {
    width:100px;
    position:center;
    left: 420px;
    top: 180px;
    z-index: 2;
        
 color:#E6004F;   letter-spacing: 40px;
}

#line17 {
    width:100px;
    position:absolute;
    left: 1200px;
    top: 200px;
    z-index: 2;
      
 color:#E6004F;   letter-spacing: 40px;
}

#line18 {
    width: 180px;
    position:absolute;
    left: 1400px;
    top: 200px;
    z-index: 2;
        
 color:#E6004F;   letter-spacing: 40px;
}


#line19 {
   width:100px;
    position:absolute;
    left: 1600px;
    top: 200px;
    z-index: 2;
       
color:#E6004F; 
letter-spacing: 40px;
}

#line20 {
    position:absolute;
    width:100px;
    left: 1600px;
    top: 220px;
    z-index: 2;
    color:#E6004F; 
letter-spacing: 40px;