#container {
	width: 400px;
	width:40%;
	margin:0 auto;
	padding:0px;
}

#column {
	padding: 5px;
    margin: 172px;
    border-left: 8px solid #DE722D;
    border-right: 8px solid #B00F14;
}

.block {
	 width: 8px;
    height: 10px;
    margin: 15px;
    border-right: 8px solid #DE722D;
    border-left: 8px solid #B00F14;
    float: left;

}

.border {
    width: 20px;
    height: 100px;
    margin: 48px;
    float: left;
}