/*font-family: 'Quicksand', sans-serif;*/

#container {
	width:1000px;
	margin-top: 40px;
	margin: 0 auto;
}

#title { 
    margin-top: 50px;
    position: fixed;
    /* width: 210px; */
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #E09291;
    /* background-color: #8D7C99; */
    font-family: 'Codystar', cursive;
    font-size: 13px;
    margin-left: 626px;
    word-spacing: .80px;

}

