
#container {
  overflow: hidden;
}

#container > * { position:relative; }


.title{
  margin-left:190px;
  font-size: 14px;
  font-family: open-sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  
}

.logo{
   z-index: 100;
    /* float: left; */
    width: 7%;
    margin-left: 55%;
    margin-top: 120px;
    position: absolute;
    transition: all 1s linear;
}


 /*LOGO SPI */

/* define custom animation */
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 
  Here you use the animation on a class 
  Uncomment infinite or custom if you want to see it in action

  `animation` property takes a duration time, timing-function and animation name (among other things)
  https://developer.mozilla.org/en-US/docs/Web/CSS/animation
*/
.logo {
  /* one time */
/*animation: 2s linear spin; */
  /*infinite */
animation: spin 6s linear 1s infinite; 
  /* custom timing function */
/*   animation: 3s cubic-bezier(0,.7,1,.23) spin; */
}

// <--SPIN END-->



 /*END OF KOMM.SE GRAB*/

#sidebar-left .rotate{
  margin-left: -70px;
}

.rotate{
  position:absolute;
  top:50%;
  text-align:center;
  font-size:12px;
}

.rotate h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: inline;
    font-variant: small-caps;
}

p {
    align-items:baseline;
}

.top{
  width:100%;
  margin-top:35px;
  margin-right:60px;
}


p {
  margin-bottom: 1.3em; 
  }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.28;
}

h3 {
  margin:0 auto !important;
}

.box:nth-child(2) p a {
  color:black;
  font-style: oblique;
  display:inline-block;
  text-decoration:none;}

 .box:nth-child(2) p a:hover {
    color:#BA0D40;
  }

.box:nth-child(2) p a:hover:after {
      background:black;
    }
 
.box:nth-child(2) p a:after {
    display:block;
    content:'';
    width:100%;
    height:4px;
    background:/*#BA0D40;*/#000000;
    margin-top:-2px;
  }



/*h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {font-size: 3.375em;}

h3 {font-size: 2.25em;}*/

h1 {  
  font-family: 'Cardo', serif;
  font-size:34px !important;
  padding-top: 8px;
  width:100%;
  }

h2 {
    font-size: 20px;
    /* align-items: center; */
    line-height: 1.40em;
    width: 41%;
    margin-bottom: 20px;
  }

h6 {
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    margin-bottom: 10px;
    font-size: 30px;
    text-align:baseline;
}


small, .font_small {font-size: 0.667em;}

body {
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


.description{
  color: #0B24FB;
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;
  margin-left: 120px;
  font-variant: small-caps;
}

.description:nth-child(2){
  margin-top:226px;
}


.box{
  height:670px;
  float:left;
  padding-top: 60px;
  }


.box:nth-child(1){
  color: #0B24FB;
  font-size:14px;
  padding-left: 80px;
  width:0%;
}

.box:nth-child(2){
  z-index:5;
  width:57%;
  margin-top:0px;
  margin-left:200px;
}

.box:nth-child(2) p{
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  margin-top:93px;
  font-style: italic;
}

.small{
  font-size:14px;
}
.box:nth-child(3){
  font-size:14px;
  width:170%;
  margin-top:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.title-col3{
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  width:100%;
  margin-bottom:10px;
  line-height: 1.45;
  align-items: center;
  justify-content: center 
/* Old browsers */
}

ul {
    color: #0B24FB;
    width:100%;
    text-align: center;
    line-height: 1.52941;
    margin-bottom: 1.52941em;

  }

li{
  font-family: 'Cardo', serif;
  list-style-type: none;
  color:black;
}

.category {
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  line-height: 1.45;
  margin-top:94px;
  font-style: italic;
  font-size: 18px;
}

.category a:after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background: /*#BA0D40;*/#c236e2;
    margin-top: -2px;
}




.div2{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px 0px 0px 140px;
    min-width: 60%;
}


.div3{
    margin: 0px 0px 0px 120px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:0px;
    padding-bottom:0px;
    flex: none;
    -webkit-flex: 1;
    min-width: 55%;
}

.div4{
    margin: 0px 0px 0px 110px;
    padding: 20px;
    flex: none;
    -webkit-flex: 1;
    min-width: 57%;
}

.project-link {
  font-style: italic;
  color:#0000ff;
  display:inline-block;
  text-decoration:none;
  border-bottom: 2px #c236e2;
  width: 6.2%;}
 
.project-link:after {
    display:block;
    content:'';
    height:4px;
    background:/*#BA0D40;*/#c236e2;
    margin-top:-2px;
  }


a:-webkit-any-link {
    color: black;
    cursor: auto;
    text-decoration: none;
}

#panel, #flip {
    padding: 5px;
    text-align: left;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
    height:250px;
}

.content {
      flex: 0 0 auto;
      display:inline-flex !important; }
}

.content1{
      flex: 0 0 auto;
      display:inline-flex !important;
      vertical-align:top;
      white-space:normal;
      margin: 0px 0px 0px 180px;
}

.flex {
       padding: 20px;
       font-size:22px;
       flex:1;
       -webkit-flex:1;
       text-align:center;
   }

 .flex1:hover {
       flex:4;
       -webkit-flex:4;
   }

.project2 h2{
  width: 75%;
}

.project2 .div3{
    padding: 20px;
/*    padding-left: 50px !important;*/
    flex: none;
    -webkit-flex: 1;
    min-width: 125%;
}


.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px)
.article #feed-related, .article-feed #feed-related {
    width: 100%;
    padding-left: 3.82353%;
    padding-right: 3.82353%;
    margin-top: 140px;
    padding-bottom: 170px;
}

#container{
    padding-top: 40px;
    padding-left:0

}

.index {
    color: black;
    width: 75%;
    margin: 0 0 5.625rem;
    margin-left:160px;
    line-height:1em;
}

  hr.style1{
  border-bottom: .75px solid #8c8b8b;
  max-width: 20%;
}


.item {
  width: 100%;
    position: relative;
    display: block;
}

#columns{
  padding-top:15px;
}

.item-row {
    width: 100%;
    display: inline-block;
    position: relative;
}



.item-col {
    display: inline-grid;
    float: left;

  }

.item-col-1 {
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
    width: 25%;
    width: calc( 10% - 20px );
    margin-right: 20px;
    float: left;
    color: #0B24FB;
}

.item-col-2 {
    width: 45%;
    margin-right: 160px;
    float: left;
    font-size: 18px;
  }

.item-col-3 {
    width: calc( 5% - 10px );
    margin-right: 100px;
    float: left;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    font-size: 12px;
}

.item-col-4{
  font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    margin-top: 93px;
    font-style: italic;
  margin-top:10px;
  margin-bottom: 1.3em;
}

.section-down-icon{
  color:black;
  display:inline-block;
  text-decoration:none;}

.section-down-icon a:hover {
    color:#BA0D40;
  }

.section-down-icon a:hover:after {
      background:black;
    }
 
.section-down-icon a:after {
    display:block;
    content:'';
    width:100%;
    height:4px;
    background:/*#BA0D40;*/#000000;
    margin-top:-2px;
  }

}
#project{
  padding-bottom:60px;
  margin-top:.5px;
}

.item-description{
    width: calc(45% - 20px );
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.3em;
}

.item-image{
  margin-left:10%;
  margin-top:10px;
}
