
#container {
  position: relative;
  overflow: hidden;
}

#samples-link{
  position:fixed;
  z-index:300;
  -webkit-transition: width 0.6s;
}


.bg-blue{
/* background: #F7F7F7;*/
background-color:white;
}


button:focus { outline: none; }

#samples-link button#center:before {
    content: 'samples';
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: inline;
    font-variant: small-caps;
    }


#samples-link button#center {
  padding:0 !important;
   outline: 0;
   border: none;
   -moz-outline-style: none
    background: transparent;
    margin-left: 120px;
    margin-top: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-variant: small-caps;
    cursor: pointer;
    transform: rotate(90deg) translateX(-50%);
    -webkit-transform: rotate(
    -90deg) translateX(-50%);
    z-index: 100;
    color: black;
}

#samples-link.open{
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    padding-top: 20px;
    margin-top: -30px;
    margin-left: -20px;
    margin-bottom: -5px;

}

#samples-link.open button#center:before {
    content: '';
    position: absolute;
}

#samples-link.open button#center:after {
    content: '';
    top: 60px;
    left: 150px;}
  

#samples-link #samples-menu-wrap {
      width: 100wh;
    height: 280vh;
    background: white;
    color: blue;
    background: transparent; /* Old browsers */
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    float: right;
    font-size: 0.8em;
    line-height: 2em;
    &::-webkit-scrollbar {
    display: none;
  }
}

#samples-link.open #samples-menu-wrap .menues {
    opacity: 1;
    transition: opacity 0.4s linear 1s;
    -webkit-transition: opacity 0.4s linear 1s;
}

 /*END OF KOMM.SE GRAB*/


#sidebar-left{
    position: fixed;
    width: 100px;
    height: 100%;
    background-color: transparent;
    z-index: 200;
    transition: all 0.3s ease-in;
}

#sidebar-left .rotate{
  margin-left: -70px;
}

.rotate{
  position:absolute;
  top:50%;
  text-align:center;
  font-size:12px;
}

.rotate h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: inline;
    font-variant: small-caps;
}

p {
    align-items:baseline;
}

#logo{
    position:fixed;
    width:1230px;
    margin-left:70px;
    margin-top: 40px;
    margin-left: 70px;
    border-bottom: 1px solid #fff;
}

.top{width:100%;display: flex;float:left;position: fixed;
  color: black;
}


p {
  margin-bottom: 1.3em; 
  }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.28;
}

h3 {
  margin:0 auto !important;
}

.box:nth-child(2) p a {
  color:black;
  display:inline-block;
  text-decoration:none;}

 .box:nth-child(2) p a:hover {
    color:#BA0D40;
  }

.box:nth-child(2) p a:hover:after {
      background:black;
    }