

#container {
	width:1440px;
}

.header {
	width:1274px;
	height:124px;
	padding: 24px 60px 0px 60px;
	position:absolute;
}

.logo {
	position: absolute;
	margin-right:120px;
}

.circle {
	margin:0 auto;
	border: 4px solid black;
	border-radius: 200%;
	width:45px;
	height:45px;
}

.block {
	margin:0 auto;
	margin-top: 10px;
	width: 105px;
	height:20px;
	display:inline-block;
	background-color:black;
}

.navtop {
	padding-bottom:10px;
	width:1300px;
	height:50px;
	float:left;

}

.navtop ul {
	margin-top:30px;
	display: inline-block;
	/*margin-left:600px;*/
	margin-left:950px;
	list-style-type: none;


}

.navtop ul li {
	height:15px;
	width:15px;
	float:left;
	margin-right:20px;
	background-color: black;
}

.signup {
	width:15px;
	float:left;
	margin-left:25px;
	margin-right:25px;
    color:red;
}


hr {
	margin-left:250px;
	width:1050px;
    border: 0;
    height: 1px;
    background-color: #E6E6E7;
}

.navbottom {
	margin:0 auto;
	float:right;
	width:1050px;
	height:50px;

}

.main-nav-categories {
	width:1050px;
	float:right;
	display:inline-block;
	height:34px;
	margin-left:166px;

}

.main-nav-categories .col-left {
    background-color: #f75352;
	float:right;
	list-style:none;
	margin-left:28px;
	position:relative;
	width:50px;
	height:24px;
	margin-right:2px;
	margin-bottom: 10px;
}



