/*font-family: 'Quicksand', sans-serif;*/

#container {
    background-color:black;
	width:1200px;
	margin: 0 auto;
}

#dots {
    margin:0 auto;
    position:fixed;
    width:1200px;
    margin-top:50px;
}

#title { 
    z-index:4;
    margin:0 auto;
    text-align:center;
    margin-top: 50px;
    color: #FFFF00;
    font-family: 'Codystar';
    font-size: 165px;
    letter-spacing:2px;

}

