
#container {
    width: 10000px;
    margin-top:85px;
    position: absolute;
}

#header{
	position: relative;
    padding: 40px 60px 0px 65px;
    float: left;
}


#title {
	position: fixed;
	font-family: 'Roboto Bold 700', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    width: 548px;
    margin-left: 40px;
    left: 70px;
    top:66px;
}

#subtitle {
    font-family: 'EB Garamond', serif;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 19.5px;
    width: 527px;
    margin-left: 40px;
    position: relative;
    float: left;
}

.linework {
	margin-left: 81px;
    /* height: 85%; */
    /* padding-bottom: 79px; */
    margin-top: 92px;
    /* margin-left: 57px; */
    max-width: 77%;
    position: absolute;
    z-index: 1;
}

#timeline{
	margin-left: 20px;
    margin-top: 50px;
    float: left;
    position: relative;
    width: 7800px;
    height:340px;
    background-color: #F4F4F4;
}

#timeline2{
	float: left;
    position: relative;
    width: 7800px;
    height: 165px;
    background-color: #C6C6C5;
    top: 195px;
}

.films {
	position: inherit;
    max-width: 22px;
    z-index: 9;
    margin-top: 96px;
    margin-left: 20px;
}

#nav{
	padding-top: 40px;
	width:7800px;
	background-color:#F4F4F4;
	position: relative;
    float: left;
}

#A_1 {
	font-family: 'Roboto Bold 700', sans-serif;
	font-weight: 700;
	font-size:19.5px;
    margin-left:200px;
    margin-right:60px;
    color: rgb(0, 0, 0);
    text-align: left;
    text-decoration: none;
    border: 0px none rgb(0, 0, 0);
    list-style: none outside none;
    outline: rgb(0, 0, 0) none 0px;
    position: relative;
    float: left;
}

/*dots*/


#ellipse1{
    width: 14px;
    height: 14px;
    background: #EC008C;
    border-radius: 50%;
    position: absolute;
    left: 338px;
    top: 215px;
    z-index: 9;
}

/*#A_1*/

/*#circle_1 {
    fill: rgba(255, 255, 255, 0);
    stroke: rgba(0, 0, 0, 0.2);
    cx: 509.315px;
    cy: 361.918px;
    r: 4.26875px;
    font: normal normal normal normal 16px / normal Times;
}/*#circle_1*/

/*#circle_1 {
    fill: rgba(255, 255, 255, 0);
    stroke: rgba(0, 0, 0, 0.2);
    cx: 509.315px;
    cy: 361.918px;
    r: 4.26875px;
    font: normal normal normal normal 16px / normal Times;
}/*#circle_1*/

/* ---- Timeline ---- */


/* ---- Details ---- */



#details {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 15px;
    opacity: 0;
}

#details2 {
    position: absolute;
    top: 200px;
    left:200px;
    width: 100px;
    height: 100px;
    padding: 15px;
    opacity: 0;
}

#luomo {
    z-index: 7;
    margin: -90px;
    margin-left: 260px;
    max-width: 165px; 
}

.text{
}

/*#details {
    position: absolute;
    left: 10px;
    top: -9px;
    width: 100px;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
}*/


/* ---- Hover effects ---- */



/* div:hover {
   cursor: pointer;
  /* color: #28e; */
/* }
/* div:hover::before {
    top: 1px;
    left: -31px;
    width: 8px;
    height: 8px;
    border-width: 5px;
    border-color: #28e;
}
div:hover .text {
    display: block;
  color: #444;
}